* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main-container {
  background-image: url("./images/1-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 95vh;
  width: 100%;
  background-position: 0px 0px;
}

.runningDog {
  position: absolute;
  background-image: url("./images/runningDog.gif");
  background-repeat: no-repeat;
  width: 150px;
  height: 85px;
  left: 0%;
  top: 70%;
}

.flyingBirds {
  position: absolute;
  background-image: url("./images/flying-birds.gif");
  background-repeat: no-repeat;
  width: 500px;
  height: 250px;
  left: 62%;
  top: 0%;
}

button {
  background-color: red;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
  /* background: none; */
}

button:hover {
  background-color: green;
}